@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-black : #000;
  }
}

@theme {
  --color-primary: #21007d;
  --color-secondary:#6b3af8;
  --color-tertiary : #121212;
  --color-disable : #696969;
  --color-success : #00ff00;
  --color-error : #bc1d42;
  --font-poppins : Poppins, sans-serif;
}

body {
  background: var(--foreground);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
